.login-form-bg-container {
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .login-form-bg-container {
    background-image: url('https://res.cloudinary.com/dc2b69ycq/image/upload/v1669698542/Movies%20App/netfilx_bg_vhdeeq.png');
    background-size: cover;
    padding-top: 48px;
  }
}
.website-logo-image-container {
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .website-logo-image-container {
    display: block;
    margin-left: 130px;
    margin-bottom: 30px;
  }
}
.website-logo {
  width: 80px;
}
@media screen and (min-width: 768px) {
  .website-logo {
    width: 170px;
  }
}
.login-form-container {
  background-color: inherit;
  width: 100%;
  align-self: center;
  margin-top: 60px;
  border-radius: 25px;
}
@media screen and (min-width: 768px) {
  .login-form-container {
    height: 440px;
    width: 440px;
    padding: 48px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    background: #0c0b10;
    opacity: 0.6;
    outline: 1px solid #fff;
  }
}
.login-title {
  height: 40px;
  width: 78px;
  left: 681px;
  top: 356px;
  color: #ffffff;
  font-weight: 500;
}
.label {
  font-size: 12px;
  left: 0px;
  top: 0px;
  color: #ffffff;
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .label {
    font-size: 14px;
  }
}
.username-input-field {
  height: 40px;
  width: 100%;
  margin-bottom: 22px;
  margin-top: 10px;
  background: #333333;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid rgb(212, 211, 211);
}
.input-field {
  height: 40px;
  width: 100%;
  margin-bottom: 22px;
  margin-top: 10px;
  background: #333333;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid rgb(212, 211, 211);
  border-right: none;
}
@media screen and (min-width: 768px) {
  .input-field {
    width: 100%;
  }
}

.input-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.icons-container {
  height: 40px;
  margin: 0px;
  margin-bottom: 22px;
  margin-top: 10px;
  background: #333333;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid rgb(212, 211, 211);
  border-left: none;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  padding-right: 10px;
}
.login-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .login-btn {
    display: block;
    height: 40px;
    width: 360px;
    border-radius: 8px;
    background: #e50914;
    color: #ffffff;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
.sign-in-btn {
  display: block;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  background: #e50914;
  color: #ffffff;
  margin-top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .sign-in-btn {
    display: none;
  }
}
.error-msg {
  font-size: 14px;
  font-weight: 400;
  color: #dc2626;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .error-msg {
    font-size: 16px;
  }
}
