.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #131313;
}
.failure-view {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
