.popular-bg-container {
  background-color: #131313;
}
.popular-item-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .popular-item-list-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.popular-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #131313;
}
